

form{
        background-color: #EBDAC4;
        border-radius: 15px;
        padding: 1rem;
        color: var(--color-primary);
        font-family: var(--font-family-p-detailpage);
        label.text-label{
            font-weight: var(--font-weight-bold);
            color: var(--color-primary);
        }
        legend.form-legend{
            font-weight: var(--font-weight-bold);
            font-size: var(--font-size-p-m);
        }
    }

    /*Text form*/
    input[type="text"]{
        border-radius: 1px;
        color: var(--color-primary);
        background-color: var(--color-text-primary);
        border: 2px solid var(--color-primary);
        display: inline-block;
        margin: 0 0 24px;
        min-height: 36px;
        min-width: 50px;
        padding: 0 0.4em;
        vertical-align: middle;
        width: 100%;
        box-sizing: border-box;
        &:hover{
            border-color: var(--color-secondary);
            cursor: pointer;
        }
    }

    input[type="email"]{
        border-radius: 1px;
        color: var(--color-primary);
        background-color: var(--color-text-primary);
        border: 2px solid var(--color-primary);
        display: inline-block;
        margin: 0 0 24px;
        min-height: 36px;
        min-width: 50px;
        padding: 0 0.4em;
        vertical-align: middle;
        width: 100%;
        box-sizing: border-box;
        &:hover{
            border-color: var(--color-secondary);
            cursor: pointer;
        }
        &:user-invalid{
            border: 2px solid var(--color-error);
        }
        &:valid{
            border: 2px solid green;
        }
    }

    /*checkbox form*/
    fieldset{
        border: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        label.checkbox-label{
            padding: 0.2rem;
            font-size: var(--font-size-p-m);
            &:hover{
                background-color: rgba(0, 0, 0, 0.05);
            }
            input:checked{
                accent-color: grey;
            }
        }
    }

    